<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
	</startup>
	<connectionStrings>
		<add name="PersonnelDB"
             connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=PersonnelDB; Integrated Security=True; Connection Timeout=60;"
             providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>
